<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head.ejs') %>
</head>

<body class="animsition">
    <div class="page-wrapper">

        <%- include('../layout/header/mobile-header.ejs') %>

            <!-- PAGE CONTAINER-->
            <div class="page-container">

                <%- include('../layout/header/desktop-header.ejs') %>

                    <!-- MAIN CONTENT-->
                    <div class="main-content">
                        <%- include('../layout/message.ejs') %>
                            <div class="section__content section__content--p30">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- DATA TABLE -->
                                            <h3 class="title-5 m-b-35">data table</h3>
                                            <div class="table-data__tool">
                                                <!-- <div class="table-data__tool-left">
                                                    <div class="rs-select2--light rs-select2--md">
                                                        <select class="js-select2" name="property">
                                                            <option selected="selected">All Properties</option>
                                                            <option value="">Option 1</option>
                                                            <option value="">Option 2</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                    <div class="rs-select2--light rs-select2--sm">
                                                        <select class="js-select2" name="time">
                                                            <option selected="selected">Today</option>
                                                            <option value="">3 Days</option>
                                                            <option value="">1 Week</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                    <button class="au-btn-filter">
                                                        <i class="zmdi zmdi-filter-list"></i>filters</button>
                                                </div> -->
                                                <div class="table-data__tool-right">
                                                    <button type="button"
                                                        class="au-btn au-btn-icon au-btn--green au-btn--small"
                                                        data-toggle="modal" data-target="#addItemModal">
                                                        <i class="zmdi zmdi-plus"></i>
                                                        Add Item
                                                    </button>
                                                    <!-- <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                                        <select class="js-select2" name="type">
                                                            <option selected="selected">Export</option>
                                                            <option value="">Option 1</option>
                                                            <option value="">Option 2</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="table-responsive table-responsive-data2">
                                                <table class="table table-data2">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <label class="au-checkbox">
                                                                    <input type="checkbox">
                                                                    <span class="au-checkmark"></span>
                                                                </label>
                                                            </th>
                                                            <th>Id</th>
                                                            <th>Item</th>
                                                            <!-- <th>description</th> -->
                                                            <th>Created At</th>
                                                            <th>Update At</th>
                                                            <!-- <th>price</th> -->
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% entries.forEach((entry)=> { %>
                                                            <tr class="tr-shadow" id="entryId<%= entry.id %>">
                                                                <td>
                                                                    <label class="au-checkbox mt-3">
                                                                        <input type="checkbox">
                                                                        <span class="au-checkmark"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <%= entry.id %>
                                                                </td>
                                                                <td>
                                                                    <%= entry.toString() %>
                                                                </td>
                                                                <td>
                                                                    <%= entry.createdAt %>
                                                                </td>
                                                                <td>
                                                                    <%= entry.updatedAt %>
                                                                </td>
                                                                <td class="d-flex">
                                                                    <a class="table-action btn btn-primary m-2"
                                                                        href="/admin/dashboard/<%= model.options.name.singular %>/<%= entry.id %> ">
                                                                        Edit
                                                                    </a>
                                                                    <button class="table-action btn btn-danger m-2"
                                                                        element-delete="#entryId<%= entry.id %>"
                                                                        data-method="delete"
                                                                        data-url="/admin/dashboard/<%= model.options.name.singular %>/<%= entry.id %>">
                                                                        Delete
                                                                    </button>
                                                                    <!-- <div class="table-data-feature">
                                                                        <a class="item" data-toggle="tooltip"
                                                                            data-placement="top" title="Edit">
                                                                            <i class="zmdi zmdi-edit"></i>
                                                                        </a>
                                                                        <a class="item" data-toggle="tooltip"
                                                                            data-delete="#entryId<%= entry.id %>"
                                                                            data-method="delete"
                                                                            data-url="/admin/dashboard/blog/<%= entry.id %>"
                                                                            data-placement="top" title="Delete">
                                                                            <i class="zmdi zmdi-delete"></i>
                                                                        </a>
                                                                    </div> -->
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                                <!-- <tr class="tr-shadow">
                                                <td>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>  </td>
                                                <td>
                                                    <span class="block-email">lori@example.com</span>
                                                </td>
                                                <td class="desc">Samsung S8 Black</td>
                                                <td>2018-09-27 02:12</td>
                                                <td>
                                                    <span class="status--process">Processed</span>
                                                </td>
                                                <td>$679.00</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                            <i class="zmdi zmdi-mail-send"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END DATA TABLE -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- END MAIN CONTENT-->
                    <!-- END PAGE CONTAINER-->
            </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalLongTitle">
                        Create Item
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createItemForm" action="/admin/dashboard/<%= model.options.name.singular %>" method="POST">
                        <div class="form-row">
                            <% for(const fieldName in model.rawAttributes) { %>
                                <% if (!model.rawAttributes[fieldName]._autoGenerated){ %>
                                    
                                        <% if(inputs[model.rawAttributes[fieldName].type.key].tag === 'textarea'){ %>
                                            <div class="col-md-12 mb-3">
                                                <label for="<%= fieldName %>"><%= fieldName %></label>
                                                <textarea class="form-control" id="<%= fieldName %>" name="<%= fieldName %>"
                                                    placeholder="Enter <%= fieldName %>" <%= model.rawAttributes[fieldName].validate.notEmpty?'required':'' %>></textarea>
                                                <div class="invalid-feedback">
                                                    Invalid Input
                                                </div>
                                            </div>
                                        <% } else if (inputs[model.rawAttributes[fieldName].type.key].type === 'checkbox'){ %> 
                                            <div class="form-group m-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="<%= fieldName %>" name="<%= fieldName %>">
                                                    <label class="form-check-label" for="<%= fieldName %> ">
                                                        <%= fieldName %> 
                                                    </label>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="col-md-12 mb-3">
                                                <label for="<%= fieldName %>"><%= fieldName %></label>
                                                <<%= inputs[model.rawAttributes[fieldName].type.key].tag %> type="<%= inputs[model.rawAttributes[fieldName].type.key].type %>" class="form-control" id="<%= fieldName %>" name="<%= fieldName %>"
                                                    placeholder="Enter <%= fieldName %>" <%= (model.rawAttributes[fieldName].validate && model.rawAttributes[fieldName].validate.notEmpty)?'required':'' %>>
                                                <div class="invalid-feedback">
                                                    Invalid Input
                                                </div>
                                            </div>
                                        <% } %>
                                    
                                <% } %>
                            <% } %>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" data-method="post" data-form="#createItemForm" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layout/scripts.ejs') %>

</body>

</html>